<footer class="dark-bg">
  <section class="container">
    <p>A description of a site or organisation and what its goals are.</p>
    <ul>
      <h5>Link Group</h5>
      <li>
        <span>Link 1
        </span>
      </li>
      <li>
        <span>Link 2
        </span>
      </li>
      <li>
        <span>Link 3
        </span>
      </li>
    </ul>
    <span class="footer-legal">
    <p class="legal">135 N. Pennsylvania Ave, 10th Floor Indianapolis, IN 46208</p>
    </span>
  </section>
</footer>