<nav>
  <a class="logo" href="/">
    <img class="logo" src="../img/logo.png" alt="McKinney Family Foundation">
  </a>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/about">Grants</a></li>
    <li><a href="/about">Affiliations</a></li>
    <li><a href="/about">Contact</a></li>
  </ul>
</nav>