---
layout: layouts/with-header.njk
title: McKinney Family Foundation
description: "One to two sentence mission statement goes here."
---

<section class="bg-grey">
  <div class="container flow">
    <h2>Focus Areas</h2>
    <div class="sponsors">
      <article class="focus">
        <h3>What we do</h3>
        <p>Short blurb describing area of focus</p>
      </article>
      <article class="focus">
        <h3>How we work</h3>
        <p>Short blurb describing area of focus</p>
      </article>
      <article class="focus">
        <h3>What we're learning</h3>
      </a>
      <p>Short blurb describing area of focus</p>
    </article>
  </div>
</section>
<section class="container flow">
  <h2>Affiliations</h2>
  <p>Learn more about our alliances</p>
  <div class="grantees">
    <article class="grantee">
      <img src="img/affiliations/ios.png" alt="Grantee"/>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ega.png" alt="Grantee"/>
      </a>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ipa.png" alt="Grantee"/>
      </a>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/cefg.png" alt="Grantee"/>
      </a>
    </article>
  </div>
</section>
<hr class="container divider"></>
<section class="container flow">
  <h2>Grantees</h2>
  <p>Learn about our funding guidelines here</p>
  <div class="grantees">
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ios.png" alt="Grantee"/>
      </a>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ios.png" alt="Grantee"/>
      </a>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ios.png" alt="Grantee"/>
      </a>
    </article>
    <article class="grantee">
      <a href="/">
        <img src="img/affiliations/ios.png" alt="Grantee"/>
      </a>
    </article>
  </div>
</section>
{# {% include 'how-register.njk' %} #}
{# <section class="container flow">
                <h2>Staff</h2>
                {% for person in organizers %}
                  {% include 'person.njk' %}
                {% endfor %}
              </section> #}