<section class="vf-news-container vf-news-container--featured vf-card-container | vf-stack">
  <div class="vf-section-header">
    <h2 class="vf-section-header__heading">
      In the news</h2>
  </div>
  <div class="vf-news-container__content | vf-grid vf-grid__col-4">
    <article class="vf-summary vf-summary--news">
      <span class="vf-summary__date">4 September 2019</span>
      <img
        class="vf-summary__image"
        src="../../img/affiliations/cefg.png"
        alt="BioSamples"
        loading="lazy">
      <h3 class="vf-summary__title">
        <a href="JavaScript:Void(0);" class="vf-summary__link">
          news article summary
        </a>
      </h3>
    </article>
    <article class="vf-summary vf-summary--news">
      <span class="vf-summary__date">4 September 2019</span>
      <img
        class="vf-summary__image"
        src="../../img/affiliations/cefg.png"
        alt="BioSamples"
        loading="lazy">
      <h3 class="vf-summary__title">
        <a href="JavaScript:Void(0);" class="vf-summary__link">
          news article summary
        </a>
      </h3>
    </article>
    <article class="vf-summary vf-summary--news">
      <span class="vf-summary__date">4 September 2019</span>
      <img
        class="vf-summary__image"
        src="../../img/affiliations/cefg.png"
        alt="BioSamples"
        loading="lazy">
      <h3 class="vf-summary__title">
        <a href="JavaScript:Void(0);" class="vf-summary__link">
          news article summary
        </a>
      </h3>
    </article>
    <article class="vf-summary vf-summary--news">
      <span class="vf-summary__date">4 September 2019</span>
      <img
        class="vf-summary__image"
        src="../../img/affiliations/cefg.png"
        alt="BioSamples"
        loading="lazy">
      <h3 class="vf-summary__title">
        <a href="JavaScript:Void(0);" class="vf-summary__link">
          news article summary
        </a>
      </h3>
    </article>
  </div>
  <!-- <div class="vf-news-container__sidebar"> Optional vf-news-container__sidebar </div> -->
</section>